.eventTypeItem {
    display: flex;
    align-items: center;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #e1e1e1;
    margin: 10px 0;
}

.description {
    margin: 10px;
}